/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.green-link
  color green
  text-decoration underline
  margin-bottom 30px

.block-space 
  height 30px
  width 100%
  display block

.underline 
  text-decoration underline